$screen-width-medium:         1150px;
$screen-width-small:          480px;
$screen-width-default:        1150px;
$half_screen_width:           480px;

$font-family-default:         "Helvetica Neue",Helvetica,Arial,sans-serif;  //"Open Sans Condensed", sans-serif;
$font-family-alternative:     "trebuchet ms", verdana, tahoma, sans-serif;

$font-size-default:           15px;
$font-size-navigation:        22px;
$font-size-sub-link:          18px;
$dark-milk-border-color:      #dac4af;
